.banner-case-studies{
  #particles-js{
    background-image: url('../images/banner-castudies.jpg');
  }
}

.block-our-castudies{
  margin: 95px 0;

  .card-castudies{
    padding: 0;
    &:hover{
      background: transparent;
      color: $color-blue-black;
      P{
        color: $color-blue-black;
      }
    }
    .card-img-top{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .btn-castudies-gr{
      background: #87bd42;
      padding: 5px 10px;
      @include radius(30px);
      color: $color-white;
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 15px;
      display: inline-block;
      &.blue{
        background: #00addb;
      }
    }
    h5{
      font-size: 20px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
    }
    .view-more{
      font-weight: bold;
      color: $color-blue-black;
      display: inline-block;
      position: absolute;
      bottom: 64px;
      right: 42px;
    }
    i.arrow-right{
      background: url("../images/arrow-right.png") no-repeat;
      background-size: 100%;
      display: inline-block;
      width: 30px;
      height: 20px;
      vertical-align: bottom;
      margin-left: 5px;
    }
    .card-body{
      padding-bottom: 40px;
    }
  }
}


/*responsive*/

@media screen and (min-width: 1200px){

}
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}