.category_page{
  .breadcrumb{
    background-color: transparent;
    padding: 50px 0;
    .breadcrumb-item{
      a{
        color: #CBD8E7;
        font-size: 24px;
        line-height: 29px;
        display: inline-block;
        &:hover{
          color: #000;
        }
      }
      &.active{
        a{
          color: #000;
        }
      }
    }
  }


  .list-news{
    padding-bottom: 150px;
    .col-lg-4{
      padding: 0;
    }
    .card{
      border: none;
      border-left: 1px solid #DFE7F0;
      &:hover{
        .box-hover{
          transform: scale(1);
        }
      }
    }
    .card-img-top{
      border-radius: 0;
    }
    .col-lg-4:nth-child(3n+3){
      .card-body {
        border-right: 1px solid #DFE7F0;
      }
    }
    .card-body{
      position: relative;
      padding-left: 30px;
      border-bottom: 1px solid #DFE7F0;

      .date{
        font-size: 11px;
        line-height: 13px;
      }
      .card-title{
        font-size: 16px;
        line-height: 29px;
        text-transform: uppercase;
        color: $color-black;
      }
      .category-name{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        position: absolute;
        bottom: 44px;
        left: -16px;
        @include rotate(-90deg);
        width: 60px;
        white-space: nowrap;
      }
    }
    .box-hover{
      position: absolute;
      background: #fff;
      height: 100%;
      width: 100%;
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 20px;
      transform: scale(0);
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      .icon-document{
        width: 24px;
        height: 24px;
        background: url(../images/marina/icon-document.png) no-repeat center;
        display: inline-block;
        background-size: 100%;
        margin-right: 10px;
        vertical-align: bottom;
      }
      .date{
        font-size: 11px;
        padding-bottom: 20px;
        line-height: 30px;
      }
      h5{
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 15px;
      }
      p{
        font-size: 12px;
        font-family: $font-montserrat;
        padding-bottom: 30px;
      }
      .category-name{
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        position: absolute;
        top: 130px;
        left: -5px;
        @include rotate(-90deg);
        width: 60px;
        white-space: nowrap;
      }
      .btn-view-more{
        position: absolute;
        bottom: 30px;
      }
    }
    .load-more{
      border: 1px solid #B3BAC2;
      color: #B3BAC2;
    }
  }
}