.content-detail{
    .list-share-social{
      .nav-link{
        font-size: 2.5rem;
        color: #505161;
      }
    }

  .content-page{
    .date-time{
      font-size: 11px;
      line-height: 13px;
      padding-bottom: 15px;
    }
    h1{
      font-size: 24px;
      line-height: 29px;
      padding-bottom: 15px;
    }
    .category{
      font-size: 14px;
      padding-bottom: 20px;
    }
    p{
      font-size: 14px;
      line-height: 20px;
    }
    img{
      padding: 20px 0;
      max-width: 100%;
    }
  }
}
.title-news-related{
  font-size: 24px;
  line-height: 29px;
  padding: 50px;
  font-weight: bold;
}

